body {
    margin: 0;
    padding: 0;
    font-family: Georgia;
}

html, body, #map {
    height: 100%;
    width:  100%;
}

.legend {
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
.map-title {
    text-align: center;
    margin: 10px;
}

h1 {
    background: url('https://cdn.vox-cdn.com/thumbor/lN8mI8h_lKGSOpMz4gXOkArd-GQ=/1400x788/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/10253661/shutterstock_472344748.jpg') center center no-repeat;
    background-size: cover;
    padding: 75px;
    text-align: center;
    margin: 20;
}


h1, h2, h3, h4, th, td{
    font-family: Georgia; 
}

select {
    font-family: Georgia;
}

p {
    font-family: Georgia; 
}


.box {
    background-color: rgba(174, 172, 182, 0.495);
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; 
}

#choropleth-map {
    width: 80%; 
    margin: 0 auto;
    text-align: center;
}

#choropleth-map {
    width: 80%; 
    margin: 0 auto;
    text-align: center;
}


#date-slider {
    width: 80%; 
    margin: 10px auto; 
}

#selected-date {
    text-align: center;
}

#slider-container label h4 {
    margin: 10px 0 5px; 
}

.grid {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ccc;
}

.grid th, .grid td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.grid th {
    background-color: rgba(174, 172, 182, 0.495);
}

.table-title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
}

#top-counties-table-container {
    margin-top: 120px; 
    margin-left: 200px; 
}

#bottom-counties-table-container {
    margin-top: 120px; 
    margin-left: 80px; 
}

#plot {
    margin: 0 auto;
    margin-left: 100px;
}




